.env
*.bak
BAK/*
*.tar.gz
*.pyc
_pycache_
__pycache__

docker-compose.yml
IS-IN-MODE-DEV
IS-IN-MODE-PROD
docker-compose.override.yml*
docker-compose-traefik*
docker-compose-override*
volumes/*/*
!volumes/django/.gitkeep
!volumes/django_default/*

docker/build/customs_installs/customs_installs.sh
docker/build/customs_installs/requirements.txt

!.gitkeep
